<!DOCTYPE html>
<html>
<head>
    <title>文章搜索</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <style>
        em {
            color: red;
        }
        body {
        }
    </style>
</head>
<body>
<div id="app">
    <div style="margin-left: 30px;">
        <h1><%= title %></h1>
        <h3 style="margin-left: 10px;"><%= magazineName %></h3>
        <h3 style="margin-left: 20px;"><%= issue %></h3>
    </div>

    <div class="container">
        <div class="row">
            <p><%- content %></p>
        </div>
    </div>
</div>
</body>
</html>
