<!DOCTYPE html>
<html>
<head>
    <title>文章搜索</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <style>
        em {
            color: red;
        }
    </style>
</head>
<body>
<div id="app">
    <h1><%= title %></h1>
    <h3><%= magazineName %></h3>
    <h3><%= issue %></h3>

    <div class="container">
        <div class="row">
            <p><%= content %></p>
        </div>
    </div>
</div>
</body>
</html>
