<!DOCTYPE html>
<html>
<head>
  <title>文章搜索</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://unpkg.com/vuejs-paginate@latest"></script>
  <style>
    em {
      color: red;
    }
  </style>
</head>
<body>
<div id="app">
  <div class="container">

    <h1>文章搜索</h1>

    <div class="row">
      <div class="col-lg-12">
        <div class="input-group">
          <input type="search" class="form-control" placeholder="search something..." v-model="searchKey"  @keyup.enter="searchSomething(searchKey)">
          <span class="input-group-btn">
        <button class="btn btn-default" type="button" @click.prevent="searchSomething(searchKey)">Search!</button>
      </span>
        </div>
      </div>
      <div class="col-lg-12" style="height: 40px;text-align: center;">
        <img v-show="isLoading" style="height: 40px;text-align: center;" src="/images/loading.png">
      </div>
      <div class="col-lg-12" style="height: 20px;">
        共有 {{articles.total}} 个搜索结果
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12" v-for="article in articles.hits">

        <div>
          <div v-if="article.highlight.Title==null">
            <a target="_blank" :href="'/articles/magazine/'+article._id"><h3>{{article._source.Title}}</h3></a>
          </div>
          <div v-else>
            <div v-for="title in article.highlight.Title">
              <a target="_blank" :href="'/articles/magazine/'+article._id"><h3 v-html="title"></h3></a>
            </div>
          </div>
          <h5>
            《{{article._source.MagazineName}}》{{article._source.Year}}年{{article._source.Issue}}期
          </h5>
        </div>

        <div v-if="article.highlight.ContentB!=null">
          <div v-for="content in article.highlight.ContentB">
            <p style="color: gray;" v-html="content.substr(0, 100)"></p>
          </div>
        </div>
        <!--<div v-if="article.highlight.ContentB==null">-->
        <!--<div v-if="article._source.ContentB!=null">-->
        <!--<p style="color: gray;">{{article._source.ContentB.substr(0, 100)}}</p>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div v-else>-->
        <!--<div v-for="content in article.highlight.ContentB">-->
        <!--<p style="color: gray;" v-html="content.substr(0, 100)"></p>-->
        <!--</div>-->
        <!--</div>-->

      </div>

      <div v-if="articles.hits!=null && articles.hits.length>0">
        <paginate
                :page-count="pageCount"
                :force-page="pageNo"
                container-class="pagination"
                prev-text="«"
                next-text="»"
                :click-handler="pageNoClick">
        </paginate>
      </div>
    </div>
  </div>

</div>
<script>
    Vue.component('paginate', VuejsPaginate)
    var app = new Vue({
        el: '#app',
        data: function () {
            return {
                searchKey: '',
                articles: new Object(),
                pageNo: 0,
                pageCount: 1,
                isLoading: false
            }
        },
        created: function () {
            this.articles.total = 0;
            this.searchKey = this.getUrlKey('key') || ''
            if(this.searchKey!=''){
                this.searchSomething(this.searchKey)
            }
        },
        methods: {
            searchSomething (str) {
                var that = this
                that.isLoading = true
                axios.get(`/search?key=${str}&page=${this.getUrlKey('page') || 0}`)
                    .then(function (response) {
                        console.log(response);
                        that.pageNo = (that.getUrlKey('page') || 0)
                        that.pageCount = Math.ceil(response.data.total / 20)
                        that.articles = response.data;
                        that.isLoading = false
                    })
                    .catch(function (error) {
                        that.isLoading = false
                        console.log(error);
                    });
            },
            getUrlKey (name) {
                return decodeURIComponent((new RegExp('[?|&]' + name + '=' + '([^&;]+?)(&|#|;|$)').exec(location.href) || ['', ''])[1].replace(/\+/g, '%20')) || null
            },
            pageNoClick: function (pageNum) {
                var that = this
                that.isLoading = true
                document.body.scrollTop = document.documentElement.scrollTop = 0;
                axios.get(`/search?key=${this.searchKey}&page=${pageNum - 1}`)
                    .then(function (response) {
                        console.log(response);
                        that.pageNo = pageNum - 1
                        that.pageCount = Math.ceil(response.data.total / 20)
                        that.articles = response.data;
                        that.isLoading = false
                    })
                    .catch(function (error) {
                        console.log(error);
                        that.isLoading = false
                    });
            }
        }
    })
</script>
</body>
</html>
